.anchor {
  display: block;
  height: 70px;
  margin-top: -70px;
  visibility: hidden;
}

.h-10 {
  height: 10%;
}

.tetris-container {
  position: relative;
  width: 300px;
  height: 500px;
}

#playerForm,
#tetris,
#tetrisPaused {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.scoreboard span.text {
  display: inline-block;
  width: 200px;
}
