.anchor {
  display: block;
  height: 70px;
  margin-top: -70px;
  visibility: hidden;
}

.bg-white {
  background-color: #fff;
}

.bg-grey {
  background-color: #d4d3e3;
}

.bg-tetris {
  background-color: #26bbec;
}

.bg-othello {
  background-color: #3c8344;
}
